@charset "utf-8";

/* PRISM.CSS                                */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* Hoja de estilo para prism.js             */
/*                                          */
/* 14 de abril de 2018                    */
/*                                          */

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/inconsolata.woff");
}

/* Estilo para Python imitando a IDLE */

code { font-family: "Inconsolata", monospace; line-height: 120%; /* font-weight: bold; */ }

code.language-python { }
/* si se cambia aquí line-eight, hay que cambiar line-height también en los números de línea */

code.language-python .builtin              { color: #800080; } /* built-in functions                  */
code.language-python .class-name           {                   } /* class header class SomeName(...):   */
code.language-python .comment              { color: #FF0000; } /* comment                             */
code.language-python .function             { color: #0000FF; } /* function header def some_name(...): */
code.language-python .keyword              { color: #FF7700; } /* keyword                             */
code.language-python .number               {                   } /* number                              */
code.language-python .operator             {                   } /* operators                           */
code.language-python .punctuation          {                   } /* punctuation                         */
code.language-python .string               { color: #00AA00; } /* string (of any type)                */
code.language-python .triple-quoted-string { color: #00AA00; } /* string (of any type)                */

/* Estilo para HTML imitando a Visual Studio Code con tema Light+ */

code.language-html { }
pre code.language-html .attr-name      { color: #FF0000; }          /* attribute name            */
pre code.language-html .attr-value     { color: #0000FF; }          /* attribute value           */
pre code.language-html .cdata          { }                            /* cdata                     */
pre code.language-html .comment        { color: #008000; }          /* comment                   */
pre code.language-html .doctype        { color: #000000; }          /* doctype                   */
pre code.language-html .entity         { }                            /* entity                    */
pre code.language-html .namespace      { }                            /* namespace                 */
pre code.language-html .prolog         { }                            /* prolog                    */
pre code.language-html .punctuation    { color: #000000; }          /* punctuation               */
pre code.language-html .tag            { color: #911F00; }          /* Tags, attributes, configs */

/* Estilo para HTML imitando a Brackets */
/* Tengo pendiente comprobar los nombres de las clases en prism */

code.language-markup { }

code.language-markup .tag         { color: #446FBD; } /* any tag from "<" till ">"              */
code.language-markup .punctuation { color: #446FBD; } /*                                        */
code.language-markup .attr-name   { color: #6D8600; } /* tag's attribute with or without value  */
code.language-markup .attr-value  { color: #E88501; } /* attribute's value                      */
code.language-markup .comment     { color: #535353; } /* comment                                */
code.language-markup .pi          { color: #535353; } /* processing instruction (<? ... ?>)     */
code.language-markup .doctype     { color: #535353; } /* <!DOCTYPE ... > declaration            */
code.language-markup .cdata       { color: #E88501; } /* CDATA section                          */

/* Estilo para CSS imitando a Brackets */
/* Pasado a media a Prism */

code.language-css { }

pre code.language-css .atrule        { color: #8757AD; }          /* @-rule till first "{" or ";"       */
pre code.language-css .comment       { color: #535353; }          /* comment                            */
pre code.language-css .string        { color: #E88501; }          /* string within a value              */
pre code.language-css .function      { color: #E88501; } /* CSS function within a value        */
pre code.language-css .important     { color: rgb( 63,127,127); } /* "!important" symbol                */
pre code.language-css .property      { color: #8757AD; }          /* property name inside a rule        */
pre code.language-css .selector      { color: #446FBD; }          /* tag in selectors                   */

pre code.language-css .hljs-id            { color: #446FBD; }          /* #some_name in selectors            */
pre code.language-css .hljs-class         { color: #446FBD; }          /* .some_name in selectors            */
pre code.language-css .hljs-attr_selector { color: rgb( 63,127,127); } /* attribute selector ([])            */
pre code.language-css .hljs-pseudo        { color: #535353; }          /* pseudo classes/elements            */
pre code.language-css .hljs-rules         { color: #000000; }          /* everything from "{" till "}"       */
pre code.language-css .hljs-value         { color: #E88501; }          /* property value inside a rule       */
pre code.language-css .hljs-number        { color: #6D8600; }          /* number within a value              */
pre code.language-css .hljs-hexcolor      { color: #E88501; }          /* hex color (#FFFFFF) within a value */

/* CSS para números de línea */

pre.line-numbers {
  position: relative;
  padding-left: 2.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -2.8em;
  width: 2em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  line-height: 120%;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
