/* PRISM.CSS                                */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* Hoja de estilo para prism.js             */
/*                                          */
/* 3 de junio de 2021                       */
/*                                          */

/* Colores para cuadros de código fuente y de terminal */

div.terminal { background-color: #1e1e1e; color: white; padding-top: 5px; padding-bottom: 5px; }

div.codigo { background-color: white; color: black; padding-top: 5px; padding-bottom: 5px; }

div.codigo.idle { background-color: white; color: black; }

code { line-height: 120%; /* font-weight: bold; */ }

.line-numbers-rows > span:before {
  color: black;
}

.command-line-prompt {
	border-right: 1px solid #999;
}

.command-line-prompt > span:before {
	color: white;
}
/* Estilo para Python imitando a IDLE */

code.language-python { }
/* si se cambia aquí line-height, hay que cambiar line-height también en los números de línea */

/* Estilo para Python imitando a IDLE */
div.codigo.idle                            { background-color: white; color: black;
                                             padding-top: 5px; padding-bottom: 5px; }
code.language-python .boolean              { color: black;   } /* boolean                             */
code.language-python .builtin              { color: #800080; } /* built-in functions                  */
code.language-python .class-name           { color: black;   } /* class header class SomeName(...):   */
code.language-python .comment              { color: #FF0000; } /* comment                             */
code.language-python .decorator            { color: black;   } /* decorator                           */
code.language-python .function             { color: #0000FF; } /* function header def some_name(...): */
code.language-python .keyword              { color: #FF7700; } /* keyword                             */
code.language-python .number               { color: black;   } /* number                              */
code.language-python .operator             { color: black;   } /* operators                           */
code.language-python .punctuation          { color: black;   } /* punctuation                         */
code.language-python .string               { color: #00AA00; } /* string (of any type)                */
code.language-python .string-interpolation { color: black;   } /* string-interpolation                */
code.language-python .triple-quoted-string { color: #00AA00; } /* string (of any type)                */

/* Estilo para Python imitando a Visual Studio Code con tema Dark+ */

div.codigo                                 { background-color: #1e1e1e; color: #9cdcfe;
                                             padding-top: 5px; padding-bottom: 5px; }
code.language-python .boolean              { color: #569CD6; } /* boolean                             */
code.language-python .builtin              { color: #4ec9b0; } /* built-in functions                  */
code.language-python .class-name           { color: white    } /* class header class SomeName(...):   */
code.language-python .comment              { color: #6a9955; } /* comment                             */
code.language-python .decorator            { color: white;   } /* decorator                           */
code.language-python .function             { color: #dcdcaa; } /* function header def some_name(...): */
code.language-python .keyword              { color: #c586c0; } /* keyword                             */
code.language-python .number               { color: #b5cea8; } /* number                              */
code.language-python .operator             { color: #d4d4d4; } /* operators                           */
code.language-python .punctuation          { color: #d4d4d4; } /* punctuation                         */
code.language-python .string               { color: #ce9178; } /* string (of any type)                */
code.language-python .string-interpolation { color: #9cdcfe; } /* string-interpolation                */
code.language-python .triple-quoted-string { color: #ce9178; } /* string (of any type)                */

code.language-python .builtin-module       { color: #4ec9b0; } /* built-in module names               */
code.language-python .module               { color: #4ec9b0; } /* module names                        */
code.language-python .builtin2             { color: #dcdcaa; } /* input main print                    */
code.language-python .storage              { color: #569cd6; } /* def                                 */
code.language-python .intrinsic            { color: #d4d4d4; } /* __name__                            */

/* Estilo para HTML imitando a Visual Studio Code con tema Light+ */

code.language-html { }
pre code.language-html .attr-name      { color: #FF0000; }          /* attribute name            */
pre code.language-html .attr-value     { color: #0000FF; }          /* attribute value           */
pre code.language-html .cdata          { }                            /* cdata                     */
pre code.language-html .comment        { color: #008000; }          /* comment                   */
pre code.language-html .doctype        { color: #000000; }          /* doctype                   */
pre code.language-html .entity         { }                            /* entity                    */
pre code.language-html .namespace      { }                            /* namespace                 */
pre code.language-html .prolog         { }                            /* prolog                    */
pre code.language-html .punctuation    { color: #000000; }          /* punctuation               */
pre code.language-html .tag            { color: #911F00; }          /* Tags, attributes, configs */

/* Estilo para CSS imitando a Brackets */
/* Pasado a medias a Prism */

code.language-css { }

pre code.language-css .atrule        { color: #8757AD; }          /* @-rule till first "{" or ";"       */
pre code.language-css .comment       { color: #535353; }          /* comment                            */
pre code.language-css .string        { color: #E88501; }          /* string within a value              */
pre code.language-css .function      { color: #E88501; } /* CSS function within a value        */
pre code.language-css .important     { color: rgb( 63,127,127); } /* "!important" symbol                */
pre code.language-css .property      { color: #8757AD; }          /* property name inside a rule        */
pre code.language-css .selector      { color: #446FBD; }          /* tag in selectors                   */

pre code.language-css .hljs-id            { color: #446FBD; }          /* #some_name in selectors            */
pre code.language-css .hljs-class         { color: #446FBD; }          /* .some_name in selectors            */
pre code.language-css .hljs-attr_selector { color: rgb( 63,127,127); } /* attribute selector ([])            */
pre code.language-css .hljs-pseudo        { color: #535353; }          /* pseudo classes/elements            */
pre code.language-css .hljs-rules         { color: #000000; }          /* everything from "{" till "}"       */
pre code.language-css .hljs-value         { color: #E88501; }          /* property value inside a rule       */
pre code.language-css .hljs-number        { color: #6D8600; }          /* number within a value              */
pre code.language-css .hljs-hexcolor      { color: #E88501; }          /* hex color (#FFFFFF) within a value */

/* Estilo para JSON imitando a Visual Studio Code con tema Dark+ */

pre code[class*=language-json] .boolean       { color: #569cd6; }          /* valor (booleano)          */
pre code[class*=language-json] .comment       { color: #6a9955; }          /* comentario                */
pre code[class*=language-json] .number        { color: #b5cea8; }          /* valor (número)            */
pre code[class*=language-json] .property      { color: #9cdcfe; }          /* clave                     */
pre code[class*=language-json] .punctuation   { color: #d4d4d4; }          /* puntuación, llaves, etc   */
pre code[class*=language-json] .string        { color: #ce9178; }          /* valor (cadena)            */


/* CSS para plugin Line Numbers de Prism */

pre.line-numbers {
  position: relative;
  padding-left: 2.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -2px;            /* para ajustar la posición de los números */
  font-size: 100%;
  left: -2.8em;
  width: 2em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  line-height: 144.8%;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: white;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* CSS para plugin Command Line de Prism */

.command-line-prompt {
	border-right: 1px solid #999;
	display: block;
	float: left;
	font-size: 100%;
	letter-spacing: -1px;
	margin-right: 1em;
	pointer-events: none;
  line-height: 144.8%;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.command-line-prompt > span:before {
	color: white;
	content: ' ';
	display: block;
	padding-right: 0.8em;
}

.command-line-prompt > span[data-user]:before {
	content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt > span[data-user="root"]:before {
	content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
	content: attr(data-prompt);
}

/* CSS para plugin Toolbar (utilizado por plugin Copy to Clipboard)  */

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
/* div.code-toolbar > .toolbar button, */
div.code-toolbar > .toolbar span {
  color: black;
  font-size: 1.2em;
  padding: .2em .5em;
  background: white;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  text-decoration: none;
}
