/* INICIACION A LA PROGRAMACION CON PYTHON  */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* CSS curso: Programacion con Python       */
/*                                          */
/* 24 de abril de 2020                      */
/*                                          */

/* CSS comun */

@font-face {
  font-family: "Consolas";
  src: url("fonts/consolas.woff");
}

html {
  background-color: white;
  font-family: sans-serif;
  line-height: 130%;
  text-align: justify;
}

section {
  clear: both;
  border-top: solid 2px black;
  margin-top: 1em;
  padding-top: 0;
}

section section {
  border-top: solid 1px black;
}

footer {
  margin-top: 2em;
}

h1 {
  font-size: 200%;
  line-height: 120%;
  text-align: center;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 105%;
  font-weight: bold;
}

h2, h3, h4 {
  clear: both;
}

pre, pre code {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Consolas", monospace;  /* Chrome user agent style sheet */
  line-height: 145%;
}

hr {
  clear: both;
}

hr.corta {
  clear: both;
  width: 50%;
}

p {
  margin: 10px 0;
}

p.aviso {
  border-left: 2px red solid;
  margin: 10px;
  padding: 10px;
  color:red;
}

p.ultmod {
  clear: both;
  border-top: black 2px solid;
  margin-top: 1px;
  padding-top: 2px;
  text-align: left;
}

p.licencia {
  text-align: left;
}

p.separador {
  height: 10px;
}

p.inline-con-borde {
  display: inline-block;
  border: black 1px solid;
  margin: 5px;
  padding: 5px;
}

.mcl-centrado {
  text-align: center;
}

.mcl-svg-diagrama-temporal {
  text-align: center;
}

.mcl-svg-figura {
  text-align: center;
}

.derecha {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}

.izquierda {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

img.vmedio {
  vertical-align: middle;
}

a img {
  border: none;
}

.soft-atajo-teclado {
  font-family: monospace;
  font-size: 120%;
  font-weight: bold;
}

.soft-menu {
  background-color: #D4D0C8;
  font-family: serif;
}

.incompleto {
  color: red;
}

.captura {
  text-align: center;
}

.captura img, .captura svg {
  width: auto;
  max-width: 100%;
  height: auto;
}

.captura img, .captura svg, .captura iframe {
  border: black 2px dotted;
  padding: 5px;
  vertical-align: middle;
}

.codigo-resaltado {
  margin: 0 1px;
  padding: 0 1px;
  outline: red 2px solid;
}

.codigo-resaltado-caja {
  display: inline-block;
  outline: red 2px solid;
}

.codigo-modificacion {
  color: red;
  font-weight: bold;
}

.no-justificado {
  text-align: left;
}

.numero-circulo {
  float: left;
  margin-left: -60px;
  margin-top: 10px;
  font-size: 300%;
  line-height: 1px;
}

math {
  font-family: sans-serif;
  font-size: 105%;
}

kbd {
  font-family: monospace;
  font-size: 120%;
  font-weight: bold;
}

div.filaflex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  clear: both;
  margin: 5px 0px;
}

div.filaflex.cabecera {
  margin-bottom: -5px;
  padding-bottom: 0;
  text-align: center;
}

div.filaflex.nogrow div:not([class="icono"]) {
  width: auto;
  flex-grow: 0;
}

div.filaflex.nogrow h2, div.filaflex.nogrow h3 {
  margin: 0;
}

/* 2020-04-24: Modifico el selector añadiendo > para que soluciones SVG con el botón Copiar se vean bien
   pro no sé si estropeará algo
*/

div.filaflex > div:not([class="icono"]) {
  width: 100px;
  flex-grow: 1;
}

div.filaflex div.nogrow {
  width: auto;
  flex-grow: 0;
}

div.filaflex div.columnaflex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

div.filaflex div.columnaflex div {
  width: auto;
}

div.filaflex div.icono-navegadores {
  flex-grow: 0;
  width: 50px;
  margin-top: 8px;
}

div.filaflex div.icono-navegadores-vacio {
  flex-grow: 0;
  width: 50px;
  margin-top: 8px;
}

div.filaflex div.icono-ok {
  flex-grow: 0;
  width: 40px;
  margin-top: 8px;
}

div.filaflex div.icono-xhtml-ok {
  flex-grow: 0;
  width: 120px;
  margin-top: 8px;
}

div.filaflex div.icono-enlace {
  flex-grow: 0;
  width: 40px;
  /* no tiene margin-top porque uso la clase en div.cabecera */
}

div.filaflex pre {
  margin: 5px 0;
  white-space: pre-wrap;
}

div.terminal, div.codigo, div.powershell, div[class^="resultado"], div[class^="enunciado"], div[class^="ejecucion"] {
  clear: both;
  border: 2px black solid;
  margin: 5px 10px;
  padding: 0 5px;
  background-color: white;
  color: black;
}

div.resultado-captura-sin-borde {
  border: none;
}

div.powershell {
  background-color: hsl(215,98%,17%);
  color: white;
}

div.terminal, div.codigo, div.powershell {
  font-family: "Consolas", monospace;
}


div.resultado-object {
  padding: 0;
}

div.resultado-object object {
  width: 100%;
}

div.aviso-antiguo {
  border: red 3px solid;
  margin: 0 50px;
  padding: 20px;
  background-color: #FFBABA;
}

table.mcl-listado {
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.mcl-listado tr {
  border-bottom: black 1px solid;
}

table.mcl-listado tr.titulo {
  border: none;
}

table.mcl-listado tr.titulo td {
  padding-top: 20px;
  font-weight: bolder;
}

table.mcl-listado tr.cabecera td {
  border: none;
  font-weight: bolder;
}

table.mcl-franjas thead tr, table.mcl-franjas tbody tr:nth-child(even) {
  background-color: #eee;
  color: black;
}

table.mcl-centrado {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

td.mcl-centrado, th.mcl-centrado, tbody.mcl-centrado {
  text-align: center;
}

table.tabla-con-borde {
  border: #B2B2B2 1px solid;
}

table.tabla-con-borde td, table.tabla-con-borde th {
  border: black 1px solid;
}

th {
  text-align: center;
}

ol, ul {
  margin-top: 3px;
  margin-bottom: 6px;
  padding-left: 1.5em;
}

ul ul {
  padding-left: 1em;
}

li {
  clear: both;
  margin-top: 5px;
}

/* Para ejemplos de ejecucion de codigo */

div.mcl-diapo {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  height: 20em;
  border: black 2px dotted;
  margin-bottom: 10px;
  line-height: 110%;
}

div.mcl-diapo > div {
  position: relative;
  width: 99%;
  height: 98%;
  padding: 5px;
}

div.mcl-diapo p.control {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Enlaces a normas / mptc */

h2.con-aside, h3.con-aside, h4-con-aside {
  float: left;
}

.aside-minienlace {
  float: right;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: hsl(207, 50%, 44%);
  color: white;
  text-align: center;
}

.aside-minienlace > p {
  margin: 0;
  padding: 1px 5px;
}

.aside-minienlace + p {
  clear: left;
}

.aside-minienlace a {
  text-decoration: none;
  color: white;
}

/* Pantallas estrechas */

@media screen and (max-width: 768px) {
  html {
    margin-left: 40px;
    margin-right: 5px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav.portada {
    position: static;
  }

  nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a {
    color: black;
    text-decoration: none;
  }

  nav div.toc {
    display: none;
  }

  pre {
    text-align: left;
    white-space: pre-wrap;
  }

  div.filaflex {
    display: block;
    margin-bottom: 15px;
  }

  div.filaflex.cabecera {
    display: none;
  }

  div.filaflex div:not([class="icono"]) {
    width: auto;
  }

  div.filaflex div.icono-navegadores-vacio {
    display: none;
  }

  div.mcl-diapo {
    height: auto !important;
  }

  div.mcl-diapo p.control {
    display: none;
  }

  p.oculta-small {
    display: none;
  }
}

/* Pantallas anchas */

@media screen and (min-width: 768px) {
  html {
    margin-left: 12em;
    margin-right: 1em;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2 {
    margin: 0;
    padding: 1em 0 0;
    font-size: 110%;
    text-align: left;
  }

  nav h3 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 105%;
    text-align: left;
  }

  nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a {
    color: black;
    text-decoration: none;
  }

  nav ul {
    margin-top: 0;
    padding-left: 1em;
  }

  nav ol {
    margin-top: 0;
    padding-left: 2em;
  }

  nav ul li, nav ol li {
    margin: 0 0 0.1em 0.1em;
  }

  nav ul ul {
    margin: 0;
    padding-left: 0.5em;
  }

  nav ul ol {
    margin: 0;
    padding-left: 1em;
  }

  nav ul ul li, nav ol ol li {
    margin: 0;
  }
}

/* Impresora */

@media print {
  html {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
  }

  nav {
    display: none;
  }

  div.icono-enlace {
    display: none;
  }

  pre {
    color: black !important;
  }

  pre span {
    color: black !important;
  }

  code {
    font-size: 100% !important;
  }

  pre {
    white-space: pre-wrap !important;
  }

  tr {
    page-break-inside: avoid;
  }

  .noprint {
    display: none
  }
}

/* Lenguajes pendientes de incluir en highlight.js */

code.language-configuracion {
}

code.language-shell {
}

code.language-sql {
}

/* Clases para fragmentos de codigo en texto */

/* Estilo imitando a PowerShell de Windows 10 */

.ps-program        { color: yellow; fill: yellow; }
.mptc-error        { color: red; fill: red; }

/* Estilo para HTML imitando a Visual Studio Code con tema Light+ */

.html-eti        { color: #911F00; fill: #911F00; }
.html-atri       { color: #FF0000; fill: #FF0000; }
.html-atri-valor { color: #0000FF; fill: #0000FF; }

/* Estilo para CSS imitando a Visual Studio Code con tema Light+ */

.css-sele    { color: #800000; fill: #800000; }
.css-prop    { color: #FF0000; fill: #FF0000; }
.css-feature { color: #FF0000; fill: #FF0000; }
.css-valor   { color: #0451A5; fill: #0451A5; }
.css-numero  { color: #008000; fill: #008000; }
.css-unidad  { color: #008000; fill: #008000; }
.css-pseudo  { color: #800000; fill: #800000; }
.css-arroba  { color: #AF00DB; fill: #AF00DB; }
.css-funcion { color: #4700FF; fill: #4700FF; }

/* Estilo para Python imitando a IDLE */

.idle-prompt { color: #770000; }
.idle-resp   { color: #0000FF; }
.idle-rese   { color: #FF7700; }
.idle-cade   { color: #00AA00; }
.idle-erro   { color: #FF0000; }
.idle-errbg  { background-color: #FC7674; }
.idle-func   { color: #800080; }
.idle-fundef { color: #0000FF; }
.idle-come   { color: #FF0000; }
.idle-menu   { background-color: #D4D0C8; font-family: serif;}
.idle-otro   { color: black; }

/* Estilo para Python imitando a VSC */
div.ejecucion-terminal { background-color: black; color: white; border-color: gray;}
.ejecucion-terminal .entrada-usuario { color: yellow; }

/* Estilo para XML imitando a XML Copy Editor*/

.xml-tag     { color: #0000FF; } /* any tag from "<" till ">"  */
.xml-attr    { color: #FC0204; } /* tag's attribute            */
.xml-pi      { color: #0000FF; }
.xml-comment { color: #808080; } /* comment                    */
.xsl-i       { color: #0000FF; }
.xsl-atri    { color: #FC0204; }

/* Estilo para PHP imitando a Eclipse for PHP developers */

.php-con { font-weight: bold; } /* Constante                    */
.php-del { font-weight: bold; } /* Delimitador de fragmento php */
.php-dir { font-weight: bold; } /* Directiva de php.ini         */
.php-fun { font-weight: bold; } /* Funcion                      */
.php-ope { font-weight: bold; } /* Operador                     */
.php-res { font-weight: bold; color: rgb(127,  0, 85) } /* Palabra reservada            */
.php-var { font-weight: bold; } /* Variable                     */

/* CSS especifico apuntes Python */

/* Para soluciones ejercicios for (2) y for (3) */

.borde1 { border: red 2px solid; display: inline-block; padding: 5px;  margin: 5px;}
.borde1b { border: red 2px dotted; display: inline-block; padding: 5px;  margin: 5px;}
.borde2 { border: red 3px dashed; display: inline-block; padding: 5px; }
.borde3 { border: red 3px double; display: inline-block; padding: 5px; }
.borde-transparente { border: black 3px dashed; display: block; padding: 5px;}
.borde2 span {line-height: 100%; }

