@charset "utf-8";

/* INICIACIÓN A LA PROGRAMACIÓN CON PYTHON  */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS curso: Programación con Python       */
/*                                          */
/* 28 de abril de 2017                      */
/*                                          */

/* CSS común */

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/inconsolata.woff2");
}

html {
  background-color: white;
  font-family: sans-serif;
  text-align: justify;
}

section {
  clear: both;
  border-top: solid 2px black;
  margin-top: 1em;
  padding-top: 0;
}

section section {
  border-top: solid 1px black;
}

footer {
  margin-top: 2em;
}

h1 {
  margin-left: 75px;
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 105%;
  font-weight: bold;
}

pre {
  font-family: "Inconsolata", monospace;
}

.python-resul pre {
  white-space: pre-wrap;
}

p.d {
  text-align: right;
}

p.i {
  text-align: right;
}

.captura img {
  border: black 2px dotted;
  padding: 5px;
  vertical-align: middle;
}

.captura svg {
  border: black 2px dotted;
  padding: 5px;
  vertical-align: middle;
}

.captura {
  text-align: center;
}

.incompleto {
  background-color: #FFFFFF;
  color: red;
}

.limpia {
  clear: both;
}

.soft-menu {
  background-color: #D4D0C8;
  font-family: serif;
}

p.resaltado {
  display: inline-block;
  border: black 1px solid;
  margin: 5px;
  padding: 5px;
}

.resaltado img {
  border-color: red;
}

.teclado {
  font-family: monospace;
  font-size: 120%;
  font-weight: bold;
}

p {
  margin: 5px 0;
}

p.aviso {
  border-left: 2px red solid;
  margin:10px;
  padding: 10px;
  color:red;
}

.centrado {
  text-align: center;
}

p.ultmod {
  clear: both;
  border-top: black 1px solid;
  margin-top: 10px;
  padding-top: 2px;
  text-align: left;
}

p.licencia {
  text-align: left;
}

p.enlace-ejemplo {
  margin-right: 2%;
  font-size: 80%;
  text-align: right;
}

samp {
  font-size: 130%
}

hr {
  width: 100%;
  clear: both;
}

hr.corta {
  width: 50%;
  text-align: center;
  clear: both;
  margin-top: 10px;
  margin-bottom: 0;
}

img#vpp {
  position: absolute;
  top: 5px;
  left: 5px;
  border:none;
}

img.d {
  float: right;
  margin-left : 10px;
}

img.i {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 110%;
}

.conborde {
  border: blue 2px solid;
}

code.conborde {
  display: inline-block;
}

table.conborde, table.conborde td, table.conborde th {
  border: black 1px solid;
}

table.indice h2 {
  margin: 0;
}

table.indice td {
  vertical-align: top;
}

td {
  vertical-align: top;
}

table.ejemplo {
  width: 97%;
  border-spacing: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

table.ejemplo td {
  width: auto;
  border: black 2px solid;
  padding: 3px 5px 3px;
  background-color: white;
}

table.ejemplo p {
  margin: 0 0 1px;
}

table.ejemplo td.python-resul {
  color: blue;
}

table.ejemplo td.python-console {
  background-color: black;
  color: white;
}

table.ejemplo td.sinborde {
  border: none;
}

table.ejemplo pre {
  line-height: 120%;
}

col.centrado {
  padding: 0 10px;
  text-align: center;
}

ul {
  margin-top: -1px;
}

div.codigo {
  clear: both;
  width: 95%;
  border: 2px black solid;
  margin: 10px auto;
  padding: 5px;
  background-color: white;
  color: black;
  font-family: "Inconsolata";
  line-height: 150%;
}

div.codigo p {
  margin: 0;
}

div.ejercicio {
  clear: both;
  border: 2px black solid;
  margin: 10px 50px;
  padding: 5px;
  background-color: white;
}

div.ejercicio p {
  margin: 2px;
}

object.ejercicio {
  width: 90%;
  height: 400px;
  border: 2px solid black;
}

object.ejemplo {
  width: 90%;
  border: 2px solid black ;
}

p.ejercicio {
  text-align: center;
}

p.enlace-ejercicio {
  margin-right: 5%;
  font-size: 80%;
  text-align: right;
}

/* Para ejemplos de ejecución de código */
div.diapo {
  overflow: hidden;
  position: relative;
  height: 20em;
  border: black 2px dotted;
  margin-bottom: 10px;
  line-height: 110%;
}

div.diapo pre {
  position: relative;
  width: 98%;
  height: 98%;
  padding: 10px 0;
}

div.diapo div {
  position: relative;
  width: 98%;
  height: 98%;
  padding: 5px;
}

div.diapo p.control {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Pantallas pequeñas */
@media screen and (max-width: 768px) {
  html {
    margin-left: 1em;
    margin-right: 1em;
  }

  h1#indice {
    margin-left: 140px;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 8em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2 {
    display: none;
  }

  nav p {
    font-size: 350%;
    margin: 5px 0 0;
  }

  nav a {
    color: black;
    text-decoration: none;
  }

  nav div.toc {
    display: none;
  }

  table.ejemplo td, table.indice td {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  h1 {
    margin-left: 2.5em;
  }

  pre {
    text-align: left;
    white-space: pre-wrap;
  }
}

/* Pantallas grandes */
@media screen and (min-width: 768px) {
  html {
    margin-left: 12em;
    margin-right: 2em;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2 {
    margin: 0;
    padding: 0;
    font-size: 110%;
    text-align: left;
  }

  nav h3 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 105%;
    text-align: left;
  }

  nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a {
    color: black;
    text-decoration: none;
  }

  nav ul {
    margin-top: 0;
    padding-left: 1em;
  }

  nav ol {
    margin-top: 0;
    padding-left: 2em;
  }

  nav ul li, nav ol li {
    margin: 0 0 0.1em 0.1em;
  }

  nav ul ul {
    margin: 0;
    padding-left: 0.5em;
  }

  nav ul ol {
    margin: 0;
    padding-left: 1em;
  }

  nav ul ul li, nav ol ol li {
    margin: 0;
  }
}

/* Impresora */
@media print {
  html {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
  }

  nav p {
    display: none;
  }

  nav h2 {
    display: none;
  }

  code {
    font-size: 100 !important;
  }

  pre {
    white-space: pre-wrap !important;
  }

  p.volver-principio {
    display: none;
  }

  tr {
    page-break-inside:avoid;
  }
}

/* CSS específico apuntes Python */

/* Clases para fragmentos de código en texto */

/* Estilo para HTML imitando a Brackets */
.html-eti        { color: #446FBD; }
.html-atri       { color: #6D8600; }
.html-atri-valor { color: #E88501; }

/* Estilo para CSS imitando a Brackets */
.css-sele         { color: #446FBD; }
.css-prop         { color: #8757AD; }
.css-feature      { color: #8757AD; }
.css-valor        { color: #E88501; }
.css-numero       { color: #8E8600; }
.css-unidad       { color: #8E8600; }
.css-pseudo       { color: #535353; }
.css-arroba       { color: #8757AD; }
.css-funcion      { color: #4700FF; }

/* Estilo para Python imitando a IDLE */
.idle-prompt { color: #770000; }
.idle-resp   { color: #0000FF; }
.idle-rese   { color: #FF7700; }
.idle-cade   { color: #00AA00; }
.idle-erro   { color: #FF0000; }
.idle-errbg  { background-color: #FC7674; }
.idle-func   { color: #800080; }
.idle-fundef { color: #0000FF; }
.idle-come   { color: #FF0000; }
.idle-menu   { background-color: #D4D0C8; font-family: serif;}
.idle-otro   { color: black; }

/* Para soluciones ejercicios for (2) y for (3) */
.borde1 { border: black 2px solid; display: inline-block; padding: 5px;  margin: 5px;}
.borde1b { border: black 2px dotted; display: inline-block; padding: 5px;  margin: 5px;}
.borde1bb { border: black 2px dotted; display: block; padding: 5px;  margin: 5px;}
.borde2 { border: black 3px dashed; display: inline-block; padding: 5px; }
.borde3 { border: black 3px double; display: inline-block; padding: 5px; }
.borde-transparente { border: white 3px dashed; display: block; padding: 5px;}
.borde2 span {line-height: 100%; }

